body {
  font-family: Inter, Segoe UI, Roboto, Arial;
  background: linear-gradient(135deg, #e0f2fe, #ffffff);
  color: #0f172a;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow-x: hidden;
}
.version-box{
  display: grid;
  place-content: center;
  width: 350px;
  padding: -100px;
  text-align: center;
}
.version-box p{
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #1d3557;
}